body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
  background-color: rgb(245, 255, 255);
}

.bgimg-1{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://wallpapercave.com/wp/wp8063327.jpg');
  min-height: 100%;
}

h2 {
  text-align: center;
  font-weight: bold;
  border-bottom: solid;
  margin-left: 35%;
  margin-right: 35%;
  border-color: rgb(0, 162, 255);
}

h3{
  text-align: center;
}

.text{
  text-align: center;
  font-size: 15px;
}
